<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShoeOne</title>


    <!-- Favicon-->
    <link rel="shortcut icon" href="/img/icon/logo-favicon.png">

    <!-- Main css -->
    <link rel="stylesheet" href="/registerFile/css/style.css">
    <style>
        .error-message {
            color: red;
        }
    </style>
</head>

<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <!-- display a success or error message -->

                        <% if(typeof message !=='undefined' ) { %>
                            <div class="alert alert-warning text-center mb-4">
                                <%= message %>
                            </div>
                            <% } %>

                                <h2 class="form-title">Sign up</h2>
                                <form onsubmit="return validateForm()" action="/register" method="POST"
                                    class="register-form" id="register-form">
                                    <div class="form-group">
                                        <label for="first-name"><i
                                                class="zmdi zmdi-account material-icons-name"></i></label>
                                        <input type="text" id="first-name" name="Firstname" placeholder="First Name" />
                                        <span id="firstnameError" class="error-message"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="second-name"><i
                                                class="zmdi zmdi-account material-icons-name"></i></label>
                                        <input type="text" id="second-name" name="Secondname" placeholder="last Name" />
                                        <span id="secondnameError" class="error-message"></span>

                                    </div>

                                    <div class="form-group">
                                        <label for="Email"><i class="zmdi zmdi-email"></i></label>
                                        <input type="email" id="Email" name="email" placeholder="Email" />
                                        <span id="emailError" class="error-message"></span>

                                    </div>

                                    <div class="form-group">
                                        <label for="Mobile"><i class="zmdi zmdi-remove phone"></i>
                                        </label>
                                        <input type="tel" id="Mobile" name="mobile" placeholder="Mobile" />
                                        <span id="mobileError" class="error-message"></span>

                                    </div>

                                    <div class="form-group">
                                        <label for="Password"><i class="zmdi zmdi-lock"></i></label>
                                        <input type="password" id="Password" name="password" placeholder="Password" />
                                        <span id="passwordError" class="error-message"></span>

                                    </div>
                                    <div class="form-group">
                                        <label for="ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                                        <input type="password" id="ConfirmPassword" name="confirmPassword"
                                            placeholder="Confirm password" />
                                            <span id="passwordMatchError" class="error-message"></span>
                                    </div>

                                    <div class="form-group form-button">
                                        <input type="submit" name="signup" id="signup" class="form-submit"
                                            value="Register" />
                                    </div>
                                    
                                </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/registerFile/images/09f302eddf36d56ee70c5bbfb73b82bb.jpg" style="height: 290px;" alt="sing up image"></figure>
                        <p style="margin-left: 50px;">Already Have an account...?</p><i style="font-size: x-large; font-weight: 600;"><a href="./login" class="signup-image-link">Login</a></i>
                    </div>
                </div>
            </div>
        </section>



    </div>

    <!-- JS -->
    <script src="/registerFile/vendor/jquery/jquery.min.js"></script>
    <script src="/registerFile/js/main.js"></script>


    <!-- validation script -->
    <script>
        function validateForm() {
            // Validation for Firstname and secondtname (Allow only letters and spaces)
            var nameRegex = /^[a-zA-Z]+$/;
            var firstName = document.getElementById('first-name').value;
            var secondName = document.getElementById('second-name').value;

            if (!nameRegex.test(firstName)) {
                document.getElementById('firstnameError').innerHTML = 'Please enter a valid Firstname.';
                document.getElementById('firstnameError').style.display = 'block';
                return false;
            } else {
                document.getElementById('firstnameError').style.display = 'none';
            }

            if (!nameRegex.test(secondName)) {
                document.getElementById('secondnameError').innerHTML = 'Please enter a valid secondname.';
                document.getElementById('secondnameError').style.display = 'block';

                return false;
            } else {
                document.getElementById('secondnameError').style.display = 'none';
            }


            // Validation for Email
            var emailRegex = /^\S+@gmail\.com$/;
            var email = document.getElementById('Email').value;

            if (!emailRegex.test(email)) {
                document.getElementById('emailError').innerHTML = 'Please enter a valid Email address.';
                document.getElementById('emailError').style.display = 'block';
                return false;
            } else {
                document.getElementById('emailError').style.display = 'none';
            }

            // Validation for Mobile number (Allow only digits, and a length of 10)
            var mobileRegex = /^\d{10}$/;
            var mobile = document.getElementById('Mobile').value;

            if (!mobileRegex.test(mobile)) {
                document.getElementById('mobileError').innerHTML = 'Please enter a valid Mobile number.';
                document.getElementById('mobileError').style.display = 'block';
                return false;
            } else {
                document.getElementById('mobileError').style.display = 'none';
            }



            // Validation for Password and Confirm Password
            var passwordRegex = /^.{8,}$/;
            var password = document.getElementById('Password').value;
            if (!passwordRegex.test(password)) {
                document.getElementById('passwordError').innerHTML = 'Password must contain 8 characters';
                document.getElementById('passwordError').style.display = 'block';
                return false;
            } else {
                document.getElementById('passwordError').style.display = 'none';
            }

            var ConfirmPassword = document.getElementById('ConfirmPassword').value;

            if (password !== ConfirmPassword) {
                document.getElementById('passwordMatchError').style.display = 'block';
                document.getElementById('passwordMatchError').innerHTML = 'Passwords do not match.';
                return false;
            } else {
                document.getElementById('passwordMatchError').style.display = 'none';
            }

            return true;
        }


    </script>


</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>